.header1 {
	font-family: Arial;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	color: #7BC258;
}
.header2 {
	font-family: Arial;
	font-size: 14px;
	font-style: italic;
	color: #000;
}
.bodytext {
	font-family: arial;
	font-size: 12px;
	color: #000;
}
.headerlinks {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
}
.toplinks {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #7BC258;
	line-height: 26px;
}
body {
	background-image: url("./../images/background.jpg");
	background-repeat: repeat;
	background-position:left;
	background-attachment:fixed;
}
#Date {
	font-family: Arial;
	font-size: 12px;
	color: #39B549;
}
.header1 {
	font-family: arial;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	color: #7BC258;
}
.style7 {font-family: arial; font-size: 12px; color: #000; font-weight: bold; }
.style8 {color: red}
.style9 {
	font-size: 13px
}
.style34 {	font-family: arial;
	font-size: 12px;
	color: #FF0000;
	font-weight: bold;
}

.container {
    max-width: 876px;
}

img{
	vertical-align:baseline;
}

.logo > h1 {
    text-align: center;
}

.search {
   max-width: 876px;
   padding: 5px 4px 7px;
}
.home-slider {
    padding: 0 0 0 14px;
}

.col-md-8 form {
    text-align: right;
}
.col-md-4.date-js {
    color: #7ac25b;
    font-size: 12px;
    font-weight: bold;
    padding-top: 6px;
}
.left-side {
    margin-top: 3px;
}
.sidebar {
	margin-top:3px;
	font-size:12px;
	min-height:700px;
}

.right-sidebar {
	margin-top:3px;
	font-size:12px;
	min-height:700px;
}

.right-sidebar .row .inner {
    background: #fff none repeat scroll 0 0;
    margin-right: 12px;
    min-height: 2264px;
    padding-bottom: 40px;
	padding-top:34px;
}
.right-sidebar.about .row .inner {
    background: #fff none repeat scroll 0 0;
    margin-right: 12px;
    min-height: 1068px;
    padding-bottom: 40px;
    padding-top: 34px;
}
.style9 > a {
    color: #000;
    font-size: 12px;
    text-decoration: underline;
}
.inner a{
	font-size:12px;
	text-decoration:underline;
	color:#000;
}

.right-sidebar.growth .row .inner {
    min-height: 1756px;
}
.right-sidebar .row .inner .bodytext a {
    color: #000;
    font-size: 12px;
	text-decoration:underline;
}

.row.bottom-home {
    margin-top: 5px;
	font-size:12px;
}
.row.bottom-home a {
	color:#000;
	font-family:arial;
	text-decoration:underline;
}

.testimonial-home a {
	color:#000;
	font-family:arial;
	text-decoration:underline;
	font-size:12px;
}



.inner {
    background: #fff none repeat scroll 0 0;
    /* border: 1px solid; */
    margin: 0 4px 4px -1px;
    min-height: 523px;
    padding: 0 15px;
}
.inner h1 {
    text-align: center;
	line-height:18px;
}
.sidebar .row .inner {
    padding-bottom: 40px;
}


.head-hm {
    text-align: center;
	padding-top:18px;
}
.testimonial-home .row .inner, .blog-home .row .inner {
    min-height: 1306px;
}
/* 
.home-left-bottom {
    background: #fff none repeat scroll 0 0;
    margin-top: 5px;
    padding-bottom: 20px;
}
.home-right-bottom {
    background: #fff none repeat scroll 0 0;
    margin-left: 4px;
    margin-top: 5px;
    width: 49.5%;
} */

.testimonial {
    background: #fff none repeat scroll 0 0;
    margin-top: 5px;
}

.blog-home {
    background: #fff none repeat scroll 0 0;
    /* margin: 5px 0 0 4px;
    width: 49.5%; */
}

@media (min-width:992px) { 
    .sidebars {
        padding-left: 10px;
        border: 0px; /* remove shadow classes here */
    }

    .sidebars .inner {
        border: 1px solid #777;  /* add shadow classes here */
        padding-left: 15px;
        padding-right: 15px;
    }
}
.prime,
.sidebars{
    border: 1px solid #777;
    font-size: 150%;
}

.left-side .row .inner {
    margin-left: 13px;
	padding-bottom: 14px;
}

.sidebar .row .inner {
    margin-right: 12px;
    padding-bottom: 40px;
}

.home-left-bottom .row .inner .col-md-3 img {
    bottom: 0;
    margin-top: 125px;
}

.home-right-bottom .row .inner .col-md-3 img {
    bottom: 0;
    margin-top: 125px;
}

.header2{
	font-weight:bolder;
}

.testimonial-home .row .inner .header1 {
    padding-top: 32px;
}

.blog-home .row .inner .header1 {
    padding-top: 32px;
}

.compare-product .row .inner .bodytext > a {
    color: #003300;
}

hr {
    border-bottom: 0.5px solid;
}



.right-sidebar.compare-product .row .inner {
    background: #fff none repeat scroll 0 0;
    margin-right: 12px;
    min-height: 2479px;
    padding-bottom: 40px;
    padding-top: 34px;
}

.right-sidebar.athlete .row .inner {
    min-height: 1095px;
}

.right-sidebar.guarantee .row .inner {
    min-height: 1222px;
}

.style7 {font-family: arial; font-size: 12px; color: #000; font-weight: bold; }
.style20 {
	font-size: 12px;
	font-family: arial;
}
.style22 {color: #000}
.style25 {color: #006600}
.style26 {font-size: 12px}
.style29 {font-family: arial}
.style30 {color: #000; font-family: arial;}
.style31 {font-style: italic; color: #7BC258; font-weight: bold; font-size: 13px; }
.style32 {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #7BC258;
	line-height: 26px;
	font-style: italic;
}
.style33 {font-family: Arial; font-size: 16px; font-weight: bold; color: #7BC258; line-height: 26px; }
.style34 {
	font-family: arial;
	font-size: 12px;
	color: #FF0000;
	font-weight: bold;
}
.style37 {color: #FF0000; font-weight: bold; font-size: 26px;}
p{
	font-size:12px;
}

.product-1 {
    border: 2px solid;
    margin: 0;
    min-height: 340px;
	padding:15px 8px 0 8px;
}

.product-2 {
    border: 2px solid;
    margin: 0;
    min-height:130px;
    padding: 6px;
}

.product-3 {
    border: 2px solid;
    margin: 0;
    min-height:300px;
    padding: 6px;
}

.middle-box > div {
    background: #7bc258 none repeat scroll 0 0;
    border: 2px solid;
}

.col-md-3.style26 img {
    border: 1px solid;
}

.col-md-4.style26 img {
    border: 1px solid;
}

.col-md-6.product-3 img {
    border: 1px solid;
}

.right-sidebar.order-hgh-right .row .inner {
    min-height: 2088px;
}

.row.order-hgh2 {
    padding: 15px;
}

.col-md-8.style26 > p {
    padding: 0 0 0 6px;
}

.col-md-6.product-3 div {
    padding: 0 0 8px;
}

.bodytext > a {
    color: #003300;
}

.sitemaps a{
	color: #003300;
}

.right-sidebar.sitmaps-right .row .inner {
    min-height: 4408px;
}

.right-sidebar.current-state .row .inner {
    min-height: 1416px;
}

.right-sidebar.default-page .row .inner {
    min-height: 1347px;
}

.right-sidebar.growth-hormone .row .inner {
    min-height: 782px;
}